# Environment variables
.env
.env.*.local

# Docker
docker-compose.yml
docker-compose*.local.yml

# Firebase / GCP service account keys
serviceAccountKey.json
serviceAccountKey*.json

# Node.js backend
backend/node_modules/
backend/package-lock.json
backend/.env
backend/logs/
backend/serviceAccountKey*.json

# Node.js frontend
frontend/node_modules/
frontend/package-lock.json
frontend/.env
frontend/logs/
frontend/serviceAccountKey*.json

# IDEs
.vscode/
.idea/
*.sublime-workspaces
*.sublime-project

node_modules
